#cssmenu {
	border:0px solid #FFFF00;
	background:#FFFF00;
	}
#cssmenu > ul {
	padding:0px 0;
	margin:0px;
	list-style:none;
	width:100%;
	height:21px;
	border-top:0px solid #04B404;
	border-bottom:0px solid #04B404;
	font-family:arial black;
	font-size:12px;
}
#cssmenu > ul li {
	margin:0;
	padding:0;
	display:block;
	float:left;
	position:relative;
	width:225px;
}
#cssmenu > ul li a:link, #cssmenu > ul li a:visited {
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#FFFF00;
	color:#04B404;
	width:225px;
	height:18px;
}
#cssmenu > ul li:hover a, #cssmenu > ul li a:hover, #cssmenu > ul li a:active {
	padding:4px 0;
	display:block;
	text-align:center;
	text-decoration:none;
	background:#04B404;
	color:#FFFF00;
	width:225px;
	height:18px;
	border-left:0px solid #04B404;
	border-right:0px solid #04B404;
}
#cssmenu > ul li ul {
	margin:0;
	padding:1px 1px 0;
	list-style:none;
	display:none;
	background:#04B404;
	width:225px;
	position:absolute;
	top:21px;
	left:-1px;
	border:1px solid #FFFF00;
	border-top:none;
}
#cssmenu > ul li:hover ul {
	display:block;
}
#cssmenu > ul li ul li {
	width:225px;
	clear:left;
	width:225px;
}
#cssmenu > ul li ul li a:link, #cssmenu > ul li ul li a:visited {
	clear:left;
	background:#FFFF00;
	padding:4px 0;
	width:225px;
	border:none;
	border-bottom:1px solid #04B404;
	position:relative;
	z-index:1000;
}
#cssmenu > ul li ul li:hover a, #cssmenu > ul li ul li a:active, #cssmenu > ul li ul li a:hover {
	clear:left;
	background:#FFFF00; /* drop down background color */
	color:#04B404;
	padding:4px 0;
	width:225px;
	border:none;
	border-bottom:1px solid #04B404;
	position:relative;
	z-index:1000;
}
#cssmenu > ul li ul li ul.navigation-3 {
	display:none;
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	left:145px;
	top:-2px;
	padding:1px 1px 0 1px;
	border:1px solid #FFFF00;
	border-left:1px solid #FFFF00;
	background:#04B404;
	z-index:900;
}
#cssmenu > ul li ul li:hover ul.navigation-3 {
	display:block;
}
#cssmenu > ul li ul li ul.navigation-3 li a:link, #cssmenu > ul li ul li ul.navigation-3 li a:visited {
	background:#FFFF00;
}
#cssmenu > ul li ul li ul.navigation-3 li:hover a, #cssmenu > ul li ul li ul.navigation-3 li a:hover, #cssmenu > ul li ul li ul.navigation-3 li a:active {
	background:#ec454e;
}
